<nav class="navbar navbar-expand-sm bg-dark navbar-dark" style="height:100%;">
	<a class="navbar-brand" href="#">
		<!-- <img src="../../assets/images/logo.png" class="img-fluid" style="width:240px;" /> -->
	</a>
	<span><div id="google_element"></div></span>
	<ul class="navbar-nav ml-auto">
		<li style="color:white;">{{myUserName}}</li>
		<li ><ng-content></ng-content></li>
		<li ><button class="btn btn-danger"  (click) = "logout()">Logout</button></li>
	</ul>
	
  <!-- <div>{{service1.name}}</div> -->
</nav>
