<div class="jumbotron">
  <ul>
    <li>Step 1: First manually create a "myinterceptors" Folder in "app" Folder.</li>
    <li>Step 2: Now manually create a "httpconfig.interceptor.ts" file under the interceptor folder.  </li>
    <li>Step 3: Now import all nessesory file like this
      <figure>
        <img src="../../assets/images/shot1.png" alt="">
      </figure>
    </li>
    <li>Step 4: Now copy code like this
      <figure>
        <img src="../../assets/images/shot2.png" alt="">
      </figure>
    </li>
    <li>Step 5: Now register your interceptor in app.module.ts like this.
      <figure>
        <img src="../../assets/images/shot3.png" alt="">
      </figure>
    </li>
    <li>Step 6: Now check interceptor file and work ahead.</li>
    <li>Note: to check interceptor is working or not? please make a http call and check. like this
      <figure>
        <img src="../../assets/images/shot4.png" alt="">
      </figure>
    </li>
  </ul>
 <h3>For Complete reference <a href="https://www.digitalocean.com/community/tutorials/how-to-use-angular-interceptors-to-manage-http-requests-and-error-handling" target="_blank">Click Here</a></h3>
</div>
