<strong>Check the console for output</strong>

<button (click)="getData()">Fetch Data</button>

<button (click)="getData1()">Fetch Data timeout</button>

<button (click)="ofOpe()">of Operator</button>

<button (click)="fromOpe()">from Operator</button>

<button (click)="mapOpe()">map Operator</button>

<button (click)="concatMapOpe()">concatMap Operator</button>

<button (click)="forkJoinOpe()">forkjoin Operator</button>

<button (click)="mergeOpe()">merge Operator</button>

<button (click)="intervalOpe1()">1</button>
<button (click)="intervalOpe2()">2</button>



