<button type="button" data-href="websiteUrl"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https://chatappak.000webhostapp.com/abc.html&amp;src=sdkpreparse">Facebook</a></button>

<br /> <br />

<div>
  <p>Note: If you do not want to share with particular mobile number pls remove it.</p>
  <a href="https://api.whatsapp.com/send?phone=+918445030128&text=https://chatappak.000webhostapp.com/" target="_blank">whatsapp</a>
</div>

<div>
  <a href="https://www.linkedin.com/shareArticle?mini=true&url=https://www.w3schools.com/js/js_promise.asp" target="_blank">Linked In</a>
</div>

<div>
  <a href="https://twitter.com/intent/tweet?url=https://www.w3schools.com/js/js_promise.asp&text=my tweet" target="_blank">Twitter</a>
</div>


