<div class="jumbotron">
	<h1>Dynamic Title</h1>
	<h3>We need dynamic Title when backend decides the application's title.</h3>
	<ul>
	  <li>Step 1: set a static title in index.html as usual. </li>
	  <li>Step 2: Now we will use a pre define title service which is provided by angular.
		  <ol>
			  <li>A: Update your app.module.ts file and import title service from "@angular/platform-browser" and set it to provider array also.
				  <figure>
					  <img src="../../assets/images/screen1.png" alt="">
					  <img src="../../assets/images/screen2.png" alt="">
				  </figure>
				  <strong>For more detail check app.module.ts file.</strong>
			  </li>
			  <li>B: Now update your .ts file in which you are getting dynamic title from backend. Import title service here too and then make a depencey injection in constructor also. and for next step check this page's ts file.
				<figure>
					<img src="../../assets/images/screen3.png" alt="">
				</figure>
			  </li>
		  </ol> </li>
	  
	</ul>
	
  </div>
  <br />

 
  <div class="jumbotron">
	<h1>Dynamic Favicon</h1>
	<h3>We need dynamic Favicon when backend decides the application's Favicon.</h3>
	<ul>
	  <li>Step 1: set a static Favicon in index.html as usual. and set id to it
		<figure>like this
			<img src="../../assets/images/screen4.png" alt="">
		</figure>	  
	</li>
 
  <li>Step 2: Now move on your working ts file and make a variable and set value to it like this 
	  <figure>
		  <img src="../../assets/images/screen5.png" alt="">
	  </figure>
		  </li>
	  
	</ul>
	
  </div>