<div class="jumbotron">
	<!-- <ul>
		<li>Read Carefully</li>
		<li>Step 1: Run "<strong>npm install ng-http-loader --save</strong>" to save the package. </li>
		<li><strong>NOTE: Check Version carefully of your angular project and ng-http-loader.</strong></li>
		<li>Step 2: Add reference "<strong>import { NgHttpLoaderModule } from 'ng-http-loader';</strong>" in app.module.ts </li>
		<li>Step 3: Now add "NgHttpLoaderModule.forRoot()" in import array in app.module.ts  </li>
	</ul> -->
	
	<a href="https://www.npmjs.com/package/ng-http-loader" target="_blank">For complete reference visit here</a>
</div>