.main{
    overflow-x: scroll;
    height: 500px;
}
.send_box{
    min-width: 300px;
    max-width: 500px;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: aquamarine;
    text-align: right;
    float: right;
    clear: both;
    border-radius: 7px;
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 15px;
}
.coming_box{
    min-width: 300px;
    max-width: 500px;
    display: inline-block;
    padding-top: 10px;;
    padding-bottom: 10px;;
    background-color: rgb(104, 83, 224);
    text-align: left;
    float: left;
    clear: both;
    margin-bottom: 10px;
    margin-right: 15px;
}