<section>
  <fieldset>
    <span id="SuccessMessage" class="success">Hurray! Your have successfully entered the captcha.</span>
    <input type="text" id="UserCaptchaCode" class="CaptchaTxtField" placeholder='Enter Captcha - Case Sensitive'>
    <span id="WrongCaptchaError" class="error"></span>
    



    


    <span>asdjfslk</span>

<p></p>
         <!-- <div class='CaptchaWrap'>
      <div id="CaptchaImageCode" class="CaptchaTxtField">
        <canvas id="CapCode" class="capcode" width="300" height="80"></canvas>
      </div> 
      <button type="button" class="ReloadBtn" (click)="CreateCaptcha()"></button>
    </div> -->
    <div class="captcha_div" id="captcha_div"></div>
    <button type="button" class="ReloadBtn" (click)="CreateCaptcha()"></button>
    <div style="clear:both;">
      <button type="button" class="btnSubmit" (click)="CheckCaptcha()">Submit</button>
    </div>
  </fieldset>
</section>
<h1>sushmita</h1>
<p>I am sushmita</p>
<p>sdfjsllj</p>
<h1>ldfjsdljf</h1>



