<div *ngIf="message;">
	<h1>{{ message.notification.title }}</h1>
	<h2>{{ message.notification.body }}</h2>
</div>
<div *ngIf="!message;">
	No Message Arrived
</div>
<div class="wrapper" id="myvideo">
    <header *ngIf="showHeader == true">
        <app-header>
            
            <button (click)="openFullscreen()">Full Screen</button>
            
        </app-header>
    </header>
    <section  class="content_sec" [ngStyle]="{'height':showHeader ? '' : '100vh' }">
        <div class="sidebar" *ngIf="showHeader == true">
            
            <app-sidebar></app-sidebar>
        </div>
        <div class="right_panel"  [ngClass]="showHeader? 'right_panel':'right_panel myclass'">
            <router-outlet></router-outlet>
        </div>
    </section>
</div>
<button (click)="openFullscreen()">full screen</button>


<!-- <ng-http-loader></ng-http-loader> -->

<div class="loader" *ngIf="showLoader">
    <img src="../assets/images/loader.gif" />
</div>

