<p>
  <a href="https://medium.com/@jishnusaha89/firebase-cloud-messaging-push-notifications-with-angular-1fb7f173bfba" target="_blank">Push Notification Full Reference</a>
</p>
<section>
  <div>
    <h2>Angular Stripe Checkout Page</h2>
  
    <div>
      <button (click)="initializePayment(2)" >Paymant of $2</button>
    </div>
    <div>
      <button (click)="initializePayment(25)" >Payment $25</button>
    </div>
    <div>
      <button (click)="initializePayment(35)" >Payment of $35</button>
    </div>
  </div>
</section>
