<div class="jumbotron text-center">
    <input type="text" value="ng build --output-path web-panel" id="myInput">
    
    <button (click)="copyText()" class="btn btn-primary">Copy text</button>
  
    Home works.

    <p class="right-side-header" title="Copy Text" id="text" (click)="copyElementText()">I am cool</p>
</div>

<div>
    <input type="file" #fileImportInput (change)="fileChangeListener($event)">
</div>











