<p>For Click Outside Library : <a href="https://www.npmjs.com/package/ng-click-outside/v/6.0.0" target="_blank">https://www.npmjs.com/package/ng-click-outside/v/6.0.0</a></p>
<div (clickOutside)="onClickedOutside($event)" class="text-danger">Click outside this :- check the console</div>

<form [formGroup]="loginForm" (submit)="onSubmit()">
  <div class="form-group">
      <label for="email">Email address:</label>
      <input type="email" formControlName="email" class="form-control"  >
      <p *ngIf="loginForm.controls.email.touched && !loginForm.controls.email.valid && loginForm.controls.email.errors.required">This Field is required..!</p>
      <p *ngIf="loginForm.controls.email.touched && !loginForm.controls.email.valid && !loginForm.controls.email.errors.required && loginForm.controls.email.errors.urlValid">This Field can only contain valid url</p>
      <p *ngIf="!loginForm.controls.email.valid && loginForm.controls.email.errors.email">Value should be a valid email..!</p>
      <p *ngIf="!loginForm.controls.email.valid && loginForm.controls.email.errors.pattern">This field can contain only number..!</p>
      <p *ngIf="!loginForm.controls.email.valid && loginForm.controls.email.errors.minlength">This field can contain only 3 length</p>
  </div>
  <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" formControlName="password" class="form-control"  (focus)="onFocus()" (blur)="onBlur()" name="pass" (keyup)="onKeyUp()" >
  </div>
  <div id="message">
      <h3>Password must contain the following:</h3>
      <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
      <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
      <p id="number" class="invalid">A <b>number</b></p>
      <p id="length" class="invalid">Minimum <b>8 characters</b></p>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>


